.start {
    background-color: #3deb34;
    h1 {
        text-align: center;
    }
}
.card {
    width: 12rem;
}

img {
    width: 2rem;
    margin-right: 0.5rem;
}

    .navbar {
        background-color: #3deb34;  
        margin-bottom: 2em;
    }

footer {
    background-color: #3deb34;
    margin-top: 2em;
    padding-top: 2em;
    ul {
        list-style-type: none;
    }

    .icons {
       .col-12 {
           display: flex;
           justify-content: center;
          
           i {
               margin-bottom: 1em;
               margin-left:0.5em;
           }
       }
    }
}

@media screen and (max-width: 767px) {
   .card {
       width: 100%;
   }
  }
  